*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #033256;
    color: #000;

    display: flex;
    min-height: 100vh;
    align-items: center;
}

#birth_date {
    width: 50px;
    height: 30px;
    margin-bottom: 15px;
    margin-right: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.age-calculate {
    max-width: 600px;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #2d859f 50%, #04022c);
}   

h1 {
    margin: 0 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
}

.age-calculate button {
    width: 60%;
    display: block;
    margin: 10px auto;
    font-size: 16px;
    padding: 13px;
    border-radius: 10px;
    border: 0;
    background: #2d859f;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.result-age {
    padding-top: 15px;
    font-size: 20px;
}

.toast-message {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.error-message {
    display: flex;
    align-items: center;
    background-color: #0c094e;
    border-radius: 2px;
    padding: 10px 0;
    min-width: 400px;
    max-width: 400px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast-title {
    min-width: 280px;
    margin: 10px 0;
}

.toast-msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast-icon {
    font-size: 24px;
    padding: 0 16px;
}

.toast-close {
    padding: 0 16px;
    font-size: 20px;
    cursor: pointer;
}